@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Message"]</h2>

<p>Programador em busca da primeira oportunidade de emprego na área para adquirir experiência e realizar o meu sonho de me tornar um desenvolvedor.</p>
