@{
    ViewData["Title"] = "Contatos";
}
<h3>@ViewData["Message"]</h3>

<p>@ViewData["Name"]</p>
<p>@ViewData["Email"]</p>


<div>
    <p><a href="https://www.linkedin.com/in/rafael-matos-kowalski-96052122a/" target="_blank">
    <img src="https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&logo=linkedin&logoColor=white" target="_blank"></a></p>
    <p><a href="mailto:rafaelmk06@gmail.com"><img src="https://img.shields.io/badge/Gmail-D14836?style=for-the-badge&logo=gmail&logoColor=white" target="_blank"></a></p>
</div>

