@{
    ViewData["Title"] = "Home Page";
}

<header>
    <h3>Bem vindo ao projeto Agenda Médica</h3>
    <p>Neste projeto será possível realizar o cadastro de Médicos, seus pacientes e consultar o registro de suas agendas para atendimento</p>
</header>
