@{
    ViewData["Title"] = "Home Page";
}

<header>
    <style>
        .AlinharCentro {
            text-align:center;
        }
    </style>

    <div class="about-Title">
        <h1 class="AlinharCentro">Bem vindo ao projeto Agenda Médica</h1>
    </div>
    <div class="about-Text">
        <p>Neste projeto será possível realizar o cadastro de Médicos, seus pacientes e consultar o registro de suas agendas para atendimento</p>

        <center>
            <img src="~/lib/img/home/ImagemMedica.jpg" width="720" height="470" />
        </center>
    </div>

</header>
